:root {
    --mainImagePage--size: 50%;
    --mainImagePage--bg-color: #27282a; /*rgba(31, 67, 46, 0.5);;*/
}

#mainImagePage {
    width: var(--mainImagePage--size);
    background: var(--mainImagePage--bg-color);
    margin: 20px auto;
    padding: 50px;
    border-radius: 40px;
}