#multipleResultSearch {
    vertical-align: middle;
    text-align: start;
    margin: 20px 0;
}

/*Header*/
#multipleResultSearch th {
    background-color: #1b1b1b;
    color: white;
}

/*Odd rows of table*/
#multipleResultSearch tr:nth-child(odd) {
    background-color: rgba(45, 55, 72, 0.419);
    cursor: pointer;
}

/*Even table rows*/
#multipleResultSearch tr:nth-child(even) {
    background-color: #2e619818;
    cursor: pointer;
}

.row-table {
    padding-left: 10px;
    height: 40px;
}

#totalResultSearch {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #1a202c;
    box-shadow: 0px 0px 10px 0px #1b1b1b;
}